input { 
    background: transparent; 
    border: 3px solid var(--base-color);
    color: var(--letters-color-secondary);
    font-family: var(--font-primary);	
    font-size: 0.8rem;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
    margin-right:2rem;
;}

input:hover, input:active {
    background: var(--background-color-secondary);
    color: var(--letters-color-secondary);
    font-family: var(--font-primary);
}