//this is where i declare all my variables that I will be using in SCSS

:root {
    --background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,76,57,1) 35%, rgba(0,8,10,1) 100%);
 
    --background-color-secondary: #000000;

    --base-color: #0f9d18; 

    --border-color: #06570b;

    --font-primary: 'Orbitron', sans-serif;
    
    --font-secondary: 'Press Start 2P', cursive;

    --letters-color-primary: #0f9d18;

    --letters-color-secondary: #FFFF;

}